MANDRILL_USERNAME:    ''
MANDRILL_PASSWORD:    ''
MAILTRAP_USERNAME:    ''
MAILTRAP_PASSWORD:    ''
SECRET_KEY_BASE:      ''
AIRBRAKE_PROJECT_KEY: ''
AIRBRAKE_PROJECT_ID:  ''
AIRBRAKE_HOST:        'https://errbit.katalyst.com.au:443'
DEFAULT_TO_ADDRESS:   'admin@katalyst.com.au'
NO_REPLY_ADDRESS:     'no-reply@katalyst.com.au'
RECAPTCHA_SITE_KEY:   ''
RECAPTCHA_SECRET_KEY: ''
