.event-browse {
	max-width: 1300px;
	margin: 0 auto;
}

.event-browse--results__loading {
	position: relative;
	&:before {
		content: "";
		background: rgba($background-color, 0.55);
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 2;
	}
}