// Desktop tile

.event-tile__desktop {
  display: flex; 

  .event-tile--image-area {
    flex: 1 .25 25%;
  }

  .event-tile--content {
    padding: 0 $desktop-gutters;
    margin-right: $desktop-gutters;
    border-right: $divider;
    flex: 1 1 75%;
  }

  .event-tile--aside {
    flex: 1 0 180px;
  }

  .favourite-button {
    z-index: 1;
  }
}

// Mobile tile

.event-tile__mobile {
  .event-tile--header {
    display: flex;
  }

  .event-tile--actions {
    margin-top: $x-small-unit;
    display: flex;
  }
}

// Compact tile

.event-tile__compact {
  .event-tile--image {
    position: relative;
    padding-top: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

// Compact tile image

.event-tile--image {
  position: relative;
  img {
    display: block;
  }
}