.filter-desktop--more__open {
  display: block;
}

.filter-desktop--more__closed {
  display: none;
}

.filter-desktop--dropdown__open {
  display: block;
}

.filter-desktop--dropdown__closed {
  display: none;
}