.filters-desktop--primary {
  display: flex;
}

.filters-desktop--secondary {
  display: none;
  &.filters-desktop--secondary__visible {
    display: flex;
  }
}

.filters-desktop--filter-wrapper {
  flex-basis: 25%;
}