.filter-mobile {
  position: fixed;
  width: calc(100vw - 52px);
  max-width: 400px;
  background: red;
  overflow: hidden;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.filter-mobile--primary-list {
  margin-left: 0%;
  transition: margin-left .25s;
  .filter-mobile__active & {
    margin-left: -100%;
  }
}

.filter-mobile--primary-list, .filter-mobile--secondary-list {
  flex-basis: 100%;
  flex-shrink: 0;
}

.filter-mobile__open {
  display: flex;
}

.filter-mobile__closed {
  display: none;
}