.tns-nav {
  position: absolute;
  bottom: 16px;
  z-index: 1;
  left: 0;
  right: 0;
  button {
    width: 8px;
    height: 8px;
    background: #fff;
  }
}

.tns-controls {
  button {
    width: 16px;
    height: 16px;
  }
}

.tns-nav + .tns-ovh,
.tns-outer + .tns-nav {
  margin-top: 0;
}